@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Inicio de un card -->
<main>
    <div class="mb-3"></div>
    <div class="card" style="width: 35rem; margin: auto;">
        <img src="~/Content/Images/logo.png" class="card-img-top" alt="logo TODO BARATITO">
        <div class="card-body">
            <h2 class="card-title">Sistema de Gestion de Ventas</h2>
            <p class="card-text">Bienvenidos al Sistema de Gestion de Ventas de la empresa CiberElectrik</p>
        </div>
    </div>
</main>

<!-- Fin del card -->
